    <div class="container2 my-5">
        <form id="form" action="/Lab_Tasks/LabTask_2/">
            <h1 class="text-black">Registration</h1>
            <div class="input-control">
                <input id="username" name="username" type="text" placeholder="Enter username*">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="email" name="email" type="text" placeholder="Enter email">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="phone" name="phone" type="text" placeholder="Enter phone number">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="password" name="password" type="password" placeholder="Enter Password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="password2" name="password2" type="password" placeholder="Enter Password Again">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="address" name="address" type="text" placeholder="Enter Address">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input type="text" placeholder="Enter Credit Card Number" pattern="\d{16}" maxlength="16"
                    title="Credit Card Number must be 16 digits (only numbers allowed)">
            </div>
            <div class="input-control">
                <input type="text" placeholder="Enter CVV" pattern="\d{3}" maxlength="3" title="Cvv should be 3 digits">
            </div>
            <div class="input-control">
                <input id="expiry" name="expiry" type="month" placeholder="Enter Expiry Date">
                <div class="error"></div>
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>