<div class="container my-5">
    <h2 class="text-center text-black">Register</h2>
    <form action="" method="post" class="w-50 mx-auto mt-4 text-black">
        <div class="mb-3">
            <label for="name" class="form-label text-black">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label text-black">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label text-black">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <p>Already have an account? <a href="/login" class="text-decoration-none text-success">Login Now!</a></p>

        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>