<div>
    <div class="head-top">
        <div class="left-side">
            <img src="/images/Assets/profile-photo.jpeg" alt="Profile-Photo">
        </div>
        <div class="right-side">
            <h1>SYED AHMAD ALI</h1>
            <h6 style="padding-top: 50px;" >BS-ARTIFICIAL INTELIGENCE STUDENT</h6>
        </div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="contact-info">
                <h3>CONTACT INFO</h3>
                <div class="call">
                    <img src="/images/Assets/call-icon.png" alt="">
                    <p>03154593115</p>
                </div>
                <div class="call">
                    <img src="/images/Assets/mail-icon.png" alt="">
                    <a class="ps-1" href="mailto:syedahmadali7212@gmail.com">syedahmadali7212@gmail.com</a>
                </div>
                <div class="call-adrs">
                    <img src="/images/Assets/addres-icon.png" alt="">
                    <p>House #2, Street #1, Chohana Wala, Burj Attari, Ferozewala, Sheikhupura, Punjab</p>
                </div>
            </div>
            <div class="education-info">
                <h3>EDUCATION</h3>
                <div class="uni-edu">
                    <p>2023 - Present</p>
                    <strong>
                        COMSATS UNIVERSITY ISLAMABAD, LAHORE
                    </strong>
                    <ul>
                        <li>Bachelor of Artificial Intelligence</li>
                        <li>CGPA: 3.41 / 4.00</li>
                    </ul>
                    <p>2020 - 2022</p>
                    <strong>
                        PUNJAB GROUP OF COLLEGES
                    </strong>
                    <ul>
                        <li>FSC Pre-Engineering</li>
                        <li>973 / 1100</li>
                    </ul>
                </div>
            </div>
            <div class="skills-info">
                <h3>SKILLS</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>REACT</li>
                    <li>C++</li>
                    <li>PYTHON</li>
                    <li>JAVA</li>
                    <li>OOP</li>
                    <li>DSA</li>
                    <li>Flask</li>
                    <li>My SQL</li>
                    <li>MS Access</li>
                    <li>MongoDB</li>
                    <li>MS Office</li>
                    <li>Machine Leraning Engineering</li>
                </ul>
            </div>
            <div class="language-info">
                <h3>LANGUAGES</h3>
                <ul>
                    <li>ENGLISH</li>
                    <li>URDU</li>
                    <li>PUNJABI</li>
                </ul>
            </div>
        </div>

        <div class="content-right">
            <div class="content-right-top">
                <div class="motivation">
                    <h3>OBJECTIVE</h3>
                    <p>
                        Highly motivated technology student seeking an internship opportunity to leverage my
                        technical
                        skills and contribute to real-world projects. Eager to learn from experienced professionals
                        and
                        gain
                        practical experience in building and applying digitalsystems.
                    </p>
                </div>
            </div>
            <div class="projects-info">
                <h2>PROJECTS</h2>
                <div class="project-1">

                    <div class="main-head-projects">
                        <strong>
                            UNIVERSITY MANAGEMENT SYSTEM
                        </strong>
                        <strong>
                            2nd Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Developed a University Management System using MySQL for student and faculty
                                records.
                            </li>
                            <li>Applied Object-Oriented Programming principles to design and implement the system.
                            </li>
                            <li>Designed user interfaces with Java Swing for a seamless user experience.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-2">

                    <div class="main-head-projects">
                        <strong>
                            Taxi Booking System with MS Access
                        </strong>
                        <strong>
                            2nd Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Developed a Taxi Booking System using MS Access.
                            </li>
                            <li>Designed user-friendly interfaces and forms for easy data entry and management.
                            </li>
                            <li>Applied Object-Oriented Programming principles to ensure modular and maintainable
                                code.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-3">

                    <div class="main-head-projects">
                        <strong>
                            Company Management System
                        </strong>
                        <strong>
                            3rd Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Developed a Company Management System utilizing MySQL for robust data storage and
                                management.
                            </li>
                            <li>Implemented CRUD operations to facilitate seamless manipulation of company
                                information.
                            </li>
                            <li>Designed and implemented database schemas tailored for efficient organization of
                                company data.</li>
                            <li>Utilized Java OOP for modular code architecture and enhanced system scalability.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-4">

                    <div class="main-head-projects">
                        <strong>
                            Ludo Game
                        </strong>
                        <strong>
                            3rd Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Designed and implemented the game logic using tree structures.
                            </li>
                            <li>Applied the Min-Max Algorithm for optimal move decisions.
                            </li>
                            <li>Ensured a smooth user experience with intuitive game interfaces.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-5">

                    <div class="main-head-projects">
                        <strong>
                            Symptom-Based Disease Diagnosis System
                        </strong>
                        <strong>
                            1st Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Created a hospital management system in C++ during the first semester.
                            </li>
                            <li>Practiced implementing logic, arrays, and 2D arrays to manage symptom-disease mapping.
                            </li>
                            <li>Gained experience in developing user-friendly console application.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-6">

                    <div class="main-head-projects">
                        <strong>
                            REACT WEBSITE with PYTHON(FAST API) [POSTGRSQL]
                        </strong>
                        <strong>
                            4th Semester
                        </strong>
                    </div>
                    <div class="outline">
                        <ul>
                            <li>Fornt End in React.js
                            </li>
                            <li>Backend in Python using Fast API
                            </li>
                            <li>Using POSTGRSQL Database</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>