<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <h2 class="text-center text-black">Login</h2>
    <form action="" method="post" class="w-50 mx-auto mt-4">
        <div class="mb-3">
            <label for="email" class="form-label text-black">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label text-black">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>