<div class="container my-5">
    <div class="card shadow rounded">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Add New Footwear</h3>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="image1" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image1" name="image1"
                    placeholder="/images/Assets/image1.jpg" required>
                </div>
                
                <div class="mb-3">
                    <label for="image2" class="form-label">Hower Image</label>
                    <input type="text" class="form-control" id="image2" name="image2"
                    placeholder="/images/Assets/image2.jpg" required>
                </div>
                
                <div class="mb-3">
                    <label for="desc1" class="form-label">Description</label>
                    <textarea class="form-control" id="desc" name="desc" rows="2" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="price1" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                </div>
                
                <div class="mb-3">
                    <label for="size1" class="form-label">Size</label>
                    <input type="text" class="form-control" id="size" name="size" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success px-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>