<div class="container my-5">
    <div class="card shadow rounded">
        <div class="card-body text-center">
            <h3 class="card-title mb-4">Add New View</h3>
            <form action="/admin/views" method="post" enctype="multipart/form-data">
                <div class="mb-3 d-flex flex-column align-items-start">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="mb-3 d-flex flex-column align-items-start">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>

                <div class="mb-3 d-flex flex-column align-items-start">
                    <label for="image" class="form-label">Image Path</label>
                    <input type="file" class="form-control" name="image" id="image" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>