<div class="container text-black my-5">
    <h2 class="text-center">Contact Us / Submit Complaint</h2>
    <form method="POST" action="/contact" class="my-4 d-flex flex-column align-items-start">
        <label>Order ID:</label>
        <input type="text" name="orderId" required />
        <br />
        <label>Message:</label>
        <textarea name="message" required></textarea>
        <br />
        <button type="submit" class="w-100 bg-black text-white">Submit</button>
    </form>
</div>